<app-header style="z-index: 10000"></app-header>
<!-- <div class="main-image">
    <section class="mat-typography">
        <h1 class="mat-display-1">Departures and Nominations</h1>
        <p>Search for Trump administration departures</p>
    </section>
</div>
<div class="search-container" *ngIf="showSearch">
    <mat-form-field color="primary">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type in a Name and Go!">
    </mat-form-field>
</div> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
